// FONTS
$base-font-weight-black: 900;
$base-font-weight-bold: 700;
$base-font-weight-regular: 400;
$base-font-weight-light: 300;
$base-font-weight-thin: 100;
$base-font-size: 16;

$fonts: 'Lato', Arial, 'Helvetica Neue', sans-serif;

//Colors
$black: #000000;
$dark-blue: #353e5e;
$white: #f8f8f8;
